@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Theme Tokens */
  --color-paper: 255 255 255;
  /* White */
  --color-paper-dim: 248 250 252;
  /* Slate-50 */

  --color-ink: 15 23 42;
  /* Slate-900 */
  --color-ink-dim: 148 163 184;
  /* Slate-400 */

  --color-brand: 16 185 129;
  /* Emerald-500 */
  --color-brand-dim: 52 211 153;
  /* Emerald-400 */
  --color-brand-dark: 6 95 70;
  /* Emerald-800 */

  --color-accent: 6 182 212;
  /* Cyan-500 */

  font-family: 'Architects Daughter', cursive;
  background-color: rgb(var(--color-paper-dim));
  color: rgb(var(--color-ink));
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* Background */
  background-color: #f8fafc;
  /* background-image: radial-gradient(#cbd5e1 1.5px, transparent 1.5px); */
  background-size: 24px 24px;
}

/* Custom Scrollbar for that 'sketchy' feel */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Global inputs reset to look like handwriting */
input {
  font-family: 'Architects Daughter', cursive;
}

/* Utility to hide scrollbar but keep functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}